
* {
  font-family:'Raleway', 'Lato', sans-serif;
  text-weight: thinner;
}

h2 {  
 text-weight:thinner;
 color:rgba(0,0,0,0.3);
 style: italic;
}

p {
  text-weight:thinner;
  color:white;
  text-align:center;
}
  div {
    clear:both;
}

.header {
  border: 1px solid rgba(0,0,0,0.3);
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  display: inline;
}
ul {
  list-style-type: none;
  margin:0;
  padding:0;
  text-align:center;
}

li:hover {
  background-color: rgba(0,0,0,0.3);
  color:white;
}
  
.about{
  float:left;
}

.skills {
  float:right;
}

.experience {
  float:left;
}

.community {
  float:right;
}
.contact {
  text-align:center;
}

.banner {
  background: rgba(255, 0,0,0.4);
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  overflow-y: auto;
 padding: 40px;
  position: fixed;
  left: 0;
  top: 80px;
  height: 450px;
  width: 100%;
  z-index: 10000;
  text-weight:bold;
  color:white;
  text-align:center;
}
